.header__lang-selector {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  padding-bottom: 6px;
  list-style-type: none;
  display: flex;
  gap: 18px;
}



@media screen and (max-width: 767px) {
  .header__lang-selector {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 8px;
  }

}
