.header__lang-selector {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
  position: absolute;
  top: 46px;
  right: 0;
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-selector {
    font-size: 1.125rem;
    top: 30px;
  }

}
