.lead__image {
  line-height: 0;
  display: block;
  width: 100%;
  height: auto;
  margin: 64px auto 0;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}
