.intro {
  margin-top: 92px;
  margin-left: calc((100% - 984px)/2);
  max-width: 690px;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin-left: calc((100% - 928px)/2);
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin-top: 88px;
    margin-left: 24px;
    max-width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-top: 64px;
    margin-left: 16px;
    max-width: calc(100vw - 32px);
  }
}
