.cover {
  color: white;
  position: relative;
  display: block;
  width: 1184px;
  height: 740px;
  margin: 92px auto 0;
  text-decoration: none;
}


@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
  }
}
