.cover {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1184px;
  min-height: 740px;
  margin: 92px auto 0;
  text-decoration: none;
  background-image: url(../../images/cover__background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  z-index: 1;
}

.cover::before {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: opacity .4s;
}

.cover:hover:before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
    /* width: 100vw;
    max-width: 100%;
    height: calc((100vw - 17px)*0.625); */

  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
    min-height: 200px;
  }
}
