.cover__title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}

/* position: absolute;
  top: 245px;
  left: 50%;
  translate: -50%;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  width: calc(100% - 624px);
  margin: 0; */
